<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainTab</key>
	<array>
		<dict>
			<key>title</key>
			<string>主页</string>
			<key>image</key>
			<string>icon_home.png</string>
			<key>highlightedImage</key>
			<string>icon_home__pressed.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>微课堂</string>
			<key>image</key>
			<string>icon_classroom.png</string>
			<key>highlightedImage</key>
			<string>icon_classroom_pressed.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>干货</string>
			<key>image</key>
			<string>icon_goods.png</string>
			<key>highlightedImage</key>
			<string>icon_goods_pressed.png</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我</string>
			<key>image</key>
			<string>icon_me.png</string>
			<key>highlightedImage</key>
			<string>icon_me_pressed.png</string>
		</dict>
	</array>
	<key>Set</key>
	<array>
		<array>
			<dict>
				<key>title</key>
				<string>密码修改</string>
				<key>class</key>
				<string>ChangePasswordViewController</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>推送设置</string>
				<key>class</key>
				<string>NotificationViewController</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>清除缓存</string>
			</dict>
			<dict>
				<key>title</key>
				<string>版本号</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>title</key>
				<string>关于我们</string>
				<key>class</key>
				<string>AboutViewController</string>
			</dict>
		</array>
	</array>
	<key>Mine</key>
	<array>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>image</key>
			<string>myCollect.png</string>
			<key>class</key>
			<string>CollectionViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>小额贷款</string>
			<key>image</key>
			<string>icon_credit.png</string>
			<key>class</key>
			<string>MicrocreditViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>商 城</string>
			<key>image</key>
			<string>icon_mall.png</string>
			<key>class</key>
			<string>StoreViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>个人信息</string>
			<key>image</key>
			<string>icon_personal.png</string>
			<key>class</key>
			<string>UserInfoViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>image</key>
			<string>icon_set.png</string>
			<key>class</key>
			<string>SetViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>成为VIP</string>
			<key>image</key>
			<string>icon_vip.png</string>
			<key>class</key>
			<string>VIPDetailsViewController</string>
		</dict>
	</array>
</dict>
</plist>
